public/workflows/ai-blog-writer.json
{
  "name": "AI Blog Writer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "write-blog",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "blog-writer"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "=You are an expert SEO blog writer. Write a comprehensive, engaging blog post about:\n\nTopic: {{ $json.body.topic }}\nTarget keyword: {{ $json.body.keyword }}\nTone: {{ $json.body.tone || 'professional but conversational' }}\nWord count: {{ $json.body.wordCount || 1500 }}\n\nRequirements:\n1. Include the target keyword naturally 3-5 times\n2. Use H2 and H3 headers for structure\n3. Include a compelling introduction with a hook\n4. Add bullet points or numbered lists where appropriate\n5. End with a clear call-to-action\n6. Write a meta description (155 chars max)\n7. Suggest 5 related internal link anchors\n\nFormat as JSON:\n{\n  \"title\": \"SEO-optimized title with keyword\",\n  \"metaDescription\": \"155 char meta\",\n  \"content\": \"Full blog post in markdown\",\n  \"internalLinkAnchors\": [\"anchor1\", \"anchor2\", ...]\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 4000
        }
      },
      "id": "openai-1",
      "name": "Generate Blog Post",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message.content;\n\nlet parsed;\ntry {\n  const jsonMatch = response.match(/```json\\n?([\\s\\S]*?)\\n?```/);\n  const jsonStr = jsonMatch ? jsonMatch[1] : response;\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // If JSON parsing fails, structure the raw content\n  parsed = {\n    title: 'Generated Blog Post',\n    content: response,\n    metaDescription: '',\n    internalLinkAnchors: []\n  };\n}\n\n// Calculate reading time\nconst wordCount = parsed.content.split(/\\s+/).length;\nconst readingTime = Math.ceil(wordCount / 200);\n\nreturn [{\n  json: {\n    ...parsed,\n    wordCount,\n    readingTime: `${readingTime} min read`,\n    generatedAt: new Date().toISOString(),\n    topic: $('Trigger').first().json.body.topic,\n    keyword: $('Trigger').first().json.body.keyword\n  }\n}];"
      },
      "id": "code-1",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.BLOG_SHEET_ID }}"
        },
        "sheetName": "Posts",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "sheets-1",
      "name": "Save to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Return Post",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Generate Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Post": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Save to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "ai-blog-writer"
  }
}
