public/workflows/content-repurposer.json
{
  "name": "Content Repurposer AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "repurpose",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "content-repurpose"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "=You are a content repurposing expert. Take the following content and create 5 different versions optimized for different platforms:\n\n1. Twitter/X thread (max 280 chars per tweet, 5-7 tweets)\n2. LinkedIn post (professional tone, 1300 chars max)\n3. Instagram caption (with emoji, hashtags)\n4. Email newsletter snippet (conversational)\n5. Blog post outline (H2 headers with bullet points)\n\nOriginal content:\n{{ $json.body.content }}\n\nFormat your response as JSON with keys: twitter, linkedin, instagram, email, blog"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-1",
      "name": "OpenAI - Repurpose",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message.content;\n\n// Parse the JSON response\nlet parsed;\ntry {\n  // Handle markdown code blocks\n  const jsonMatch = response.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                   response.match(/```\\n?([\\s\\S]*?)\\n?```/);\n  const jsonStr = jsonMatch ? jsonMatch[1] : response;\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = { raw: response, error: 'Could not parse as JSON' };\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    originalContent: $('Webhook Trigger').first().json.body.content,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-1",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "OpenAI - Repurpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Repurpose": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "content-repurposer-ai"
  }
}
