workflows/social-poster.json
{
  "name": "Social Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,12,17 * * *"
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Post Schedule (9am, 12pm, 5pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.CONTENT_SHEET_ID }}"
        },
        "sheetName": "Posts",
        "options": {
          "range": "A:E"
        }
      },
      "id": "sheets-1",
      "name": "Get Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.posted }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-1",
      "name": "Filter Unposted",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit-1",
      "name": "Get Next Post",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "twitter-1",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "additionalFields": {}
      },
      "id": "linkedin-1",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.CONTENT_SHEET_ID }}"
        },
        "sheetName": "Posts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "posted": "true",
            "postedAt": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "sheets-2",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Post Schedule (9am, 12pm, 5pm)": {
      "main": [
        [
          {
            "node": "Get Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Queue": {
      "main": [
        [
          {
            "node": "Filter Unposted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unposted": {
      "main": [
        [
          {
            "node": "Get Next Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Post": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "social-auto-poster"
  }
}
